accelerate==  0.22.0
einops== 0.6.1
google-search==  1.1.1
langchain== 0.0.273
pandas== 1.5.0
Pillow== 9.2.0
pydantic== 1.10.11
pymongo== 3.13.0
python-dotenv== 1.0.0
requests== 2.28.2
sentence-transformers== 2.2.2
transformers== 4.32.0
triton== 2.0.0
typing_extensions== 4.5.0
typing-inspect== 0.8.0
uvicorn
weaviate-client== 3.23.1
wikipedia== 1.4.0
xformers== 0.0.21
